@charset 'utf-8';

@media screen and (max-width:1700px){
	.main1_sub{
		width: 40%;
	}
	.annotations{
    right: 22%;
    top: -10%;
	}
	.protection{
			top: 18%;
	}
}
@media screen and (max-width:1650px){
	.annotations{
		right: 22%;
		top: -20%;
}
	.protection{
		top: 26%;
		height: 14%;
}
	.collision{
		height: 25%;
		top: 30%;
	}
	.danger{
		height: 16%;
		left: 64%;
		top: 58%;
	}
	.main9_sOrder span{
		font-size: 22px;
	}
	.main4_left{
		left: 14%;
	}
}
@media screen and (max-width:1500px){
	.protection{
		top: 25%;
		height: 14%;
}
	.collision{
		height: 24%;
		top: 30%;
	}
	.danger{
		height: 16%;
		left: 64%;
		top: 54%;
	}

}
@media screen and (max-width:1350px){
	.protection{
		top: 23%;
		height: 14%;
}
	.collision{
		height: 16%;
		top: 33%;
	}
	.danger{
		height: 16%;
		left: 64%;
		top: 49%;
	}
	.main9_sOrder span{
		font-size: 18px;
	}
	.hero-video{
    width: auto;
    height: 100%;
    object-fit: cover;
	}
	.main1_sub{
			width : calc(100% / 2);
	}
	.main1_order {
		width: 10%;
		float: right;
	}

}




@media screen and (max-width:1200px){
	/* main2 */
	.main2_right,.main4_img{
    width: 100%;
    height: calc(100% - 220px);
    overflow: hidden;
    background-color: #efefef;
    position: relative;
		}
	.main2_right img,.main4_img video{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	.main2_left,.main4_right{
		display: none;
	}
	.collision{
		height: 28%;
		left: 32%;
		top: 44%;
	}
	.protection{
		height: 22%;
		left: 61%;
		top: 30%;
	}
	.protection span{
		position: absolute;
		top: 28px;
		left: 10px;
	}
	.danger{
		height: 26%;
		left: 64%;
		top: 70%;
	}
	.danger span{
		position: absolute;
		top: 86%;
		left: 10px;
	}
	.main4_left{
		width: 100%;
		position: absolute;
		top: 58%;
		left: 0;
	}
	.main4L_box{
		display: flex;
		position: relative;
		margin : 0 auto;
	}
	.main3_top{
    width: 100%;
	}
	.main3T_box{
		width: 80%;
	}
	.btn8 {
    float: left;
    width: 40%;
	}
}

@media screen and (max-width:1150px){
	.navboxIn{
		width: 90%;
	}
	.main1_bot{
		margin-left: 110px;
	}
	.main1_sub{
		width : calc(100% / 2);
		margin: 0;
	}
	.main1_sub .main1S {
		padding: 0 10px;
	}
	.main1_order {
		width: 0%;
	}
}
@media screen and (max-width:975px){
	.navboxIn{
		width: 100%;
	}
	.fff_boxIn{
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
	.main3_top{
    width: 100%;
	}
	.main3T_box{
		width: 95%;
	}
	.main8_sub {
		font-size: 14px;
		position: absolute;
    top: 230px;
		left: 50px;
	}
	.main8_subR{
		margin-left: 20px;
	}
	.main8_extendL{
		margin-top: 0;
		margin-left: 100px;
		font-size: 14px;
	}
	.main8_extendR {
    float: left;
    margin-left: 100px;
    margin-top: 0px;
		padding-bottom: 0px;
		font-size: 14px;
	}
	.main9_img {
    width:100%;
    height: calc(100% - 300px);
    float: none;
	}
	.main9_left {
    float: none;
    width: 100%;
    height: 185px;
    position: relative;
	}
	.main9_sOrder {
    position: absolute;
    top: 0;
    left: 25%;
    z-index: 999;
    width: 50%;
		height: 90px;
	}
	.main9_sOrder>span{
		text-align: center;
		margin-left: 0px;
		display: block;
		height: 20px;
	}

}
@media screen and (max-width:650px){
	picture>img{
    object-position: center 35%;
}
	.navboxIn{
    display: none;
}
	.login{
		margin: 14px;
	}
	/* main1 */
	.main1_title{
		position: absolute;
		top: 20%;
		left: calc(50% - 81px);
		text-align : center;
		color:#fff;
		height: 73px;
		z-index: 30;
	}
	.main1_title p{
		font-size : 23px;
	}
	.main1_title h2{
		font-size: 36px;
	}
	.main1_bot{
		min-width:100%;
		width: 70%;
		position: absolute;
		top: 66%;
		left: 0%;
		text-align: center;
		margin-left: 0;
	}
	.main1_sub{
		width : 90%;
		align-content: center;
		align-items: stretch;
		justify-content: space-around;
		position: relative;
		margin : 0 auto;
	}
	.main1_sub .loadspace_container{
    border-left : 1px solid #000;
    border-right : 1px solid #000;
    padding : 0 20px;
	}
	.main1_sub .titleB{
    font-size : 23px;
	}
	.main1_sub .titleS{
			font-size : 17px;
	}
	.main1_sub .second_sub,
	.main1_sub .loadspace_sub,
	.main1_sub .km_sub{
			font-size : 11px;
	}
	.speedometer_icon{
		padding-right: 22px;
	}
	.main1_sub .orderbtn button{
		width: 80%;
		position: absolute;
		top: 100%;
		left: 5%;
	}
	.mian1_underBtn{
		position: fixed;
		top: 92%;
		left: 46%;
	}
	/* main2 */
	.annotation{
		font-size: 12px;
		width: 100%;
	}
	.collision{
		left: 16%;
		top: 40%;
	}
	.protection{
		left: 60%;
		top: 28%;
	}
	.protection span{
		position: absolute;
		top: 28px;
		left: 10px;
	}
	.danger{
		height: 22%;
		left: 64%;
		top: 70%;
	}
	.danger span{
		position: absolute;
		top: 90%;
		left: 10px;
	}
	.btn8 {
    float: left;
		width: 70%;
	}
	.btn8:first-child{
		margin-right: 0;
		margin-bottom: 10px;
	}
	/* main3 */
	.fff_boxB{
		height: 200px;
	}

	.main3_top{
		top: 56%;
		left: 0%;
	}
	.main3T_box{
		width: 100%;
		height: 100%;
		display: flex;
		position: relative;
		margin : 0 auto;
	}
	.mainB_left {
    width: 100%;
    height: 100%;
    float: left;
    padding: 60px 20px 30px 0;
    position: relative;
	}

	.main3_img{
		width: 100%;
		height: calc(100vh - 200px);
		overflow: hidden;
	}
	.main3_img img{
		height: 100%;
		max-height: 100%;
		min-height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: 10%;
	}
	.awd_title{
		text-align: center;
	}
	.main3T .titleB{
		font-size : 23px;
	}
	.main3T .titleS{
			font-size : 17px;
			text-align: center;
	}
	.subT{
			font-size : 11px;
	}
	.awd_sub,.second_sub,.km_sub{
		display: none;
	}
	.sub640{
		display: block;
		text-align: center;
	}
	.main3T .km_title{
		text-align: center;
	}
	.main4_left {
		min-width: 100%;
	}
	.main4L_box{
		width: 90%;
	}
	.main4L_box .subT span{
		display: none;
	}
	.main7T_box {
		width: 90%;
	}
	.main8_sub {
		font-size: 14px;
		position: absolute;
    top: 240px;
		left: -140px;
	}
	.main8_subR{
		margin-left: 40px;
	}
	.main8_extendL{
		margin-top: 0;
		margin-left: 60px;
		font-size: 14px;
	}
	.main8_extendR {
    float: left;
    margin-left: 60px;
    margin-top: 0px;
		padding-bottom: 0px;
		font-size: 14px;
	}
	.main8_extendBtn {
    left: 0px;
	}
	.main8_extendText {
		left: 40px;
	}
	.main8_closeBtn {
    left: calc(50% - 30px);
	}
	header img {
    width: 20%;
    height: auto;
    margin: 20px 0 0 20px;
		float: none;
	}
}

@media screen and (max-width:500px){
	.fff_botS>div>span{
		display: none;
	}
	.container .titleB {
		font-size: 20px;
		line-height: 42px;
	}
	.main3T .speedometer_icon img:first-child{
		width: 120%;
	}
	.container2 {
    padding: 5px 20px 0 20px;
	}
	.container1 {
			padding: 5px 20px 0 0;
	}
	.container3 {
    padding: 5px 20px 0 20px;
	}
	.subT{
		margin-top: 0;
	}
	.footer_infor span{
		font-size: 12px;
	}
	.footer_nav a {
    padding: 0 4px;
	}
	.main1_sub .titleB {
    font-size: 20px;
}
}

