@charset 'utf-8';
/* 공통 */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.white{
    color: white;
    opacity: 1;
}
.display_none{
    display: none;
}
button{
    cursor: pointer;
    outline: none;
    border: none;
}
i{
    cursor: pointer;
}
body{
    position: relative;
    width: 1583px;
}
input{
    outline: none;
}
div{
    cursor: default;
}
/* header */
.container{
    width: 1172px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.header_top{
    height: 40px;
    background-color: #374d63;
    border-bottom: 1px solid #abaeb3;
}
.header_top_box{
    height: 39px;
    display: inline-block;
    line-height: 36px;
    border-right: 1px solid black;
}
.header_top_box>a:hover{
    text-decoration: underline;
}
.agent_box{
    width: 118px;
}
.customer_box{
    width: 162px;
    text-align: center;
}
.member_box{
    width: 218px;
    text-align: center;
}
.not_a_member>span{
    color: #1dd2af;
}
.call_box{
    width: 216px;
    text-align: center;
}
.header_top_box>a{
    font-size: 15px;
    color: white;
}
.header_top_right{
    float: right;
}
.header_top_box_r{
    width: 40px;
    height: 39px;
    display: inline-block;
    line-height: 36px;
    border-right: 1px solid black;
    text-align: center;
    color: white;
    padding-top: 2px;
}
.header_top_box_r:first-child{
    border-left: 1px solid black;
}
    /* nav */
.nav{
    height: 92px;
    padding: 30px 0;
}
.nav_left{
    float: left;
}
.nav_right{
    float: right;
    margin-right: 30px;
    margin-top: 5px;
}
.nav_item{
    color: #5d6e80;
    margin-right: 38px;
    font-weight: 700;
}
/* .nav_item:first-child{
    color: #1dd2af;
} */
.nav_item:hover{
    color: #1dd2af;
}
.search{
    position: absolute;
    top: -5px;
    right: 0;
}

/* main-top */
.main_box{
    position: relative;
    overflow: hidden;
}
.main_img>img{
    width: 100%;
}
.main_swiper{
    z-index: 10;
}
.swiper_btn{
    width: 80px;
    height: 80px;
    background-color: white;
    opacity: 0.2;
    cursor: pointer;
}
.main_prev{
    position: absolute;
    top: 50%;
    left: 0;
    padding: 15px 22px;
}
.main_next{
    position: absolute;
    top: 50%;
    right: 0;
    padding: 15px 28px;
}
.swiper_click{
    background: #1dd2af;
    opacity: 1;
}
.fa-angle-left,.fa-angle-right{
    font-size: 50px;
    opacity: 0.9;
}
.main_text{
    color: white;
    position: absolute;
    top: 40%;
    left: 25%;
    z-index: 10;
    text-align: center;
    
}
.text_b{
    font-size: 50px;
    font-weight: 700;
}
.text_s{
    font-size: 25px;
}
.main_btn{
    position: absolute;
    top: 58%;
    left: 35%;
    z-index: 10;
    text-align: center;
}
.map_btn{
    width: 221.84px;
    height: 59px;
    background-color: #1dd2af;
    color: white;
    border-radius: 3px;
    outline: none;
    border: none;
    font-size: 20px;
    margin-right: 28px;
}
.more_btn{
    width: 159px;
    height: 59px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
    font-size: 20px;
}

/* main-bot */
.main_bot{
    margin-top: -4px;
    background-color: #2c3e50;
    height: 104px;
    border-top: 1px solid #415569;
}
.holydays_box{
    float: left;
    height: 104px;
    width: 164px;
    border-right: 1px solid #415569;
    padding-top: 25px;
}
.find_text{
    font-size: 20px;
    color: white;
}
.holydays_text{
    font-size: 25px;
    color: white;
    font-weight: 700;
}
.main_select{
    padding-top: 25px;
}
.main_bot_box{
    float: left;
    width: 400px;
    margin-left: 30px;
}
.where,.when{
    color: white;
    font-size: 22px;
}
.distination, .select_date{
    margin-left: 24px;
    width: 300px;
    height: 49px;
    border: 1px solid black;
    font-size: 20px;
}
.main_search_btn{
    margin-left: 25px;
    width: 108px;
    height: 49px;
    background-color: #1dd2af;
    color: white;
    outline: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.fa-globe,.fa-calendar-alt{
    z-index: 5;
    margin-left: -40px;
    color: #a4a4a4;
    cursor: pointer;
}

/* body-top */
.body_top{
    height: 635px;
}
.bd_t_title{
    padding: 88px 0 60px 0;
    text-align: center;
    z-index: 10;
}
.bd_t_title_main{
    color: #2c3e50;
    font-size: 25px;
}
.bd_t_title_sub{
    color: #626262;
    font-size: 16px;
    margin-top: 5px;
}

.bd_t_box{
    overflow: hidden;
}
.bd_t_con{
    padding-top: 20px ;
}
.bd_t_item{
    width: 272px;
    height: 265px;
    background-color: #eeeeee;
    border-radius: 6px;
    border: 6px solid #eeeeee;
    padding: 6px;
    cursor: pointer;
}
.bd_t_item_click{
    margin-top: -20px ;
    padding: 0;
    height: 300px;
    background-color: #2c3e50;
    border: 6px solid #1dd2af;
}
.bd_t_text{
    padding: 10px 0 0 10px;
    color: #626262;
    float: left;
    cursor: pointer;
}
.bd_t_text1{
    font-size: 15px;
}
.bd_t_text2{
    font-size: 13px;
    margin-top: 1px;
}
.bd_t_text1_click{
    font-size: 15px;
    color: white;
}
.bd_t_text2_click{
    margin-top: 2px;
    font-size: 13px;
    color: #5d6e80;
}
.bd_t_icon{
    padding: 10px 8px 0 0;
    float: right;
    font-size: 28px;
    color: #9fb0c0;
}
.bd_t_icon_click{
    margin-right: -10px;
    color: white;
}
.bd_t_item_t{
    margin-top: -4px;
    width: 266px;
    height: 200px;   
}
.bd_t_item_t_click{
    padding: 10px;
}
.bd_t_img{
    width: 100%;
}





/* body-mid */
.body_mid{
    height: 518px;
    position: relative;
}
.bd_m_img>img{
    width: 100%;
}
.bd_m_title{
    padding: 79px 0 60px 0;
    text-align: center;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 40%;
    
}
.bd_m_title_main{
    font-size: 25px;
    color:white;
}
.bd_m_title_sub{
    margin-top: 5px;
    font-size: 16px;
    color: #9eafc0;
}
.bd_m_icon{
    z-index: 10;
    position: absolute;
    top: 40%;
    left: 13%;
}
.icon_name{
    display: inline-block;
    margin-right: 38px;
    text-align: center;
    cursor: pointer;
}
.icon_name:last-child{
    margin-right: 0;
}
.mid_name{
    color: #9dafc0;
    font-size: 20px;
    margin-top: 16px;
}
.mint{
    color: #1dd2af;
}

/* body-bot */
.body_bot{
    height: 462px;
}
.bd_b_title{
    padding: 30px 0 60px 0;
    text-align: center;
    z-index: 10;
}
.bd_b_title_main{
    color: #2c3e50;
    font-size: 25px;
}
.bd_b_title_sub{
    color: #626262;
    font-size: 16px;
    margin-top: 5px;
}
.bd_b_item_text1{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    padding: 25px;
    cursor: default;
}
.bd_b_item_text2{
    position: absolute;
    top: 58px;
    left: 0;
    font-size: 18px;
    padding: 25px;
    color: #1dd2af;
    cursor: default;
}
.bd_b_item_text3{
    position: absolute;
    top: 80px;
    left: 0;
    font-size: 13px;
    padding: 25px;
    color: #b2b2b2;
    cursor: default;
}
.bd_b_item{
    width: 100%;
    height: 100%;
    cursor: default;
}
.bd_b_con{
    border-top: 6px solid transparent;
    opacity: 0.5;
}
.bd_b_con:hover{
    border-top: 6px solid #1dd2af;
    opacity: 1;
}

/* footer */
.footer{
    height: 448px;
    background-color: #2c3e50;
}
.ft_top{
    height: 290px;
}
.ft_t_box{
    width: 292px;
    padding-top:60px;
    float: left;
}
.ft_t_title{
    font-size: 25px;
    color: #1dd2af;
}
.ft_t_text{
    color: white;
    line-height: 22px;
    font-size: 13px;
    margin: 15px 0 15px 0;
}

.ft_t_search{
    width: 149px;
    height: 33px;
    border-radius: 3px;
    border: 1px solid black;
}
.ft_t_go{
    width: 49px;
    height: 33px;
    background-color: #1dd2af;
    font-size: 15px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
}
.ft_text2_item{
    margin-bottom: 10px ;
}
.ft_text2_img{
    width: 34px;
    height: 34px;
    border: 1px solid white;
    padding: 4px;
    float: left;
    margin-top: 4px;
}
.text2_t_box{
    margin-left: 50px;
}
.ft_text2_text_m{
    color:  #1dd2af;;
}
.text3_item{
    display: inline-block;
    border: 1px solid white;
    padding: 3px 5px;
    margin: 0 3px 5px 0 ;
    cursor: pointer;
}
.text3_item:hover{
    background-color: white;
    color: #394c5f;
}
.text3_item_click{
    background-color: white;
    color: #394c5f;
}
.ft_text4>span{
    color: #1dd2af;
}
.link{
    color: white;
    font-size: 20px;
}
.link>i{
    float: left;
    margin-left: 30px;
}
.link>i:first-child{
    margin-left: 0;
}

.ft_bot{
    position: relative;
    height: 158px;
    border-top:1px solid #394c5f;
    text-align: center;
    padding-top: 34px ;
}
.ft_b_menu_box{
    color: white;
    font-size: 15px;
    margin-bottom: 10px;

}
.ft_b_menu{
    cursor: pointer;
    margin: 0 5px 0 5px;
}
.ft_b_menu:hover{
    color: #1dd2af;
}
.ft_b_menu:first-child{
    margin-left: 0;
}
.ft_b_menu:last-child{
    margin-right: 0;
}

.copy{
    color: #9dafc0;
    font-size: 13px;
}
.icon_box{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
    cursor: pointer;
}
.swiper-button-prev:after{
    display: none;
}
.swiper-button-next:after{
    display: none;
}


